.todo__wrapper {
  margin-top: 50px;
}

.todo__wrapper form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo__wrapper form input {
  border: none;
  border-bottom: 1px solid #fff;
  background: none;
  width: 200px;
  font-size: 16px;
  height: 16px;
  margin-right: 18px;
  outline: none;
  transition: 0.3s;
  padding-left: 15px;
  padding-bottom: 3px;
}

.todo__wrapper form input:focus {
  border-color: rgb(97, 218, 251);
  color: #fff;
}

.todo__wrapper form button {
  cursor: pointer;
  background: none;
  border: transparent;
  color: rgb(97, 218, 251);
  transition: 0.3s;
  outline: none;
  font-size: 22px;
}

.todo__wrapper form button:hover {
  color: #fff;
}

.todo__wrapper .todo__tasks {
  margin-top: 30px;
}

.todo__wrapper .todo__tasks ul {
  padding-left: 0;
}

.todo__wrapper .todo__tasks ul li {
  list-style-type: none;
  text-align: left;
}

.todo__wrapper .todo__tasks ul li span {
  font-size: 16px;
  margin-right: 30px;
  margin-left: 15px;
}

.todo__wrapper .todo__tasks ul li button {
  font-size: 22px;
  color: rgb(97, 218, 251);
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
}

.todo__wrapper .todo__tasks ul li button:hover {
  color: #fff;
}

.todo__wrapper .todo__tasks ul li input {
  width: 200px;
  height: 16px;
  margin-right: 18px;
  padding-left: 15px;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 14px;
  outline: none;
}